/* ----------main styles------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container{
    max-width: 318px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}



/* -----------/main styles--------------- */

/* -------------header---------------- */
.main-head {
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.head-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
color: var(--IRIS, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-studio{
color: var(--NAVY-BLUE, #2E2F42);
}


.main-head{
    padding-top: 17.5px;
    padding-bottom: 17.5px;
}

.button-burger{
padding: 0;
background-color: transparent;
border: none;
line-height: 0;
}

.close-mob-btn{
    padding: 0;
        background-color: transparent;
        border: none;
        line-height: 0;
    border-radius: 50%;
    position: absolute;
    top: 24px;
    right: 24px;
}

.icon-mob-close{
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.10);
}

.mobile-menu-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: #ffffff;
    transform: translateX(100%);
    transition: transform 250ms linear;
    display: flex;
flex-direction: column;

}
.mobile-menu-wrapper.is-open{
    transform: translateX(0%);
}

.navig-mobile{
    padding-top: 72px;
    padding-left: 16px;
}

.nav-list-mobile{
    display: flex;
    flex-direction: column;
gap: 40px;
}

.cont-and-media{
    margin-top: auto;
}

.studio-list-mobile-studio{
    color: var(--OCEAN, #404BBF);
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}
.studio-list-mobile{
color: var(--NAVY-BLUE, #2E2F42);
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.contacts-mobile-window-tel{
    color: var(--IRIS, #4D5AE5);
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.contacts-mobile-window{
    color: var(--SLATE, #434455);
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.adress-list-ul{
    padding-left: 16px;
    margin-top: 168px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-logo-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo-mobile {
    padding-left: 16px;
    margin-top: 48px;
    display: flex;
    gap: 16px;
    padding-bottom: 40px;
}

.footer-logo-list {
    width: 40px;
    height: 40px;
}

.footer-logo-item:hover {
    background-color: #31d0aa;
}

.footer-logo-item:focus {
    background-color: #31d0aa;
}

/* -------------/header-------------- */

/* --------------firstSection--------- */
.firstsection{
    padding-top: 72px;
    padding-bottom: 72px;
    max-width: 100%;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/BGphone.jpg);
            background-repeat: no-repeat;
                background-size: cover;
                background-position: center;               
}

.effective{
    color: var(--WHITE, #FFF);
        text-align: center;
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
        margin-left: auto;
        margin-right: auto;
}

.mainbutton{
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        cursor: pointer;
        padding: 16px 32px;
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        background-color: #4d5ae5;
        border-radius: 4px;
        cursor: pointer;
        margin: 0 auto;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


@media  screen and (min-resolution: 192dpi) and (min-width: 318px),
screen and (min-resolution: 2ddx),
screen and (min-resolution: 2){
    .firstsection{
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                    rgba(46, 47, 66, 0.70)),
                url(../images/BGphone@2x.jpg);
    }
}

/* --------------/firstSection--------- */

/* ---------------info----------------- */
.flex-icon{
    display: none;
}

.section-two{
    padding: 96px 0;
}

.flex-info{
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.head{
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 8px;
}
 
.about{
    color: var(--SLATE, #434455);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/* ---------------/info----------------- */

/* ----------------our team--------------- */

.section-three {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: #F4F4FD;
}

.our-team {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 73px;
}

.about-person {
    padding: 32px 0;
}

.head-second {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.about-job{
    color: var(--SLATE, #434455);
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.sect-list {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.flex-team{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 72px;
}


.social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.social-list-li {
    width: 40px;
    height: 40px;
}

.social-list-a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icon {
    fill: #f4f4fd;
}

/* ------------------ /our team------------------- */

/* -------------------our portfolio------------ */

.p-overlay{
display: none;
}

.fourth-section{
background: #FFF;
padding: 96px 0;
}

.flex-portfolio{
    display: flex;  
        flex-direction: column;
        gap: 48px;
}

.portfolio-list{
    width: 288px;
    border: 1px solid var(--CLOUD, #F4F4FD);
        background: var(--WHITE, #FFF);
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
        gap: 32px;
}

.photo-for-overlay{
    width: 288px;
}

.about-our-portf{
color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
    padding-bottom: 32px;
}
.about-photo{
    padding-left: 16px;
}

.head-our-portf{
    color: var(--NAVY-BLUE, #2E2F42);
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
        margin-bottom: 8px;
        margin-top: 32px;
}

/* ---------------foter----------- */
.footerr{
    padding: 96px 0;
    background: var(--NAVY-BLUE, #2E2F42);
}

.flex-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-items{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.logo-footer{
color: var(--IRIS, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-bottom: 17.5px;
}

.secondlogo{
    color: var(--CLOUD, #F4F4FD);
}

.last-p{
    color: var(--CLOUD, #F4F4FD);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
        margin-bottom: 72px;
        text-align: center;
}

.logos-container-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.footer-media-head{
    color: #FFF;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
        align-items: center;
        margin-bottom: 16px;

}

.footer-logo{
    display: flex;
    gap: 16px;
    margin-bottom: 72px;
}
.footer-form{
    gap: 16px;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
}

.subscribe-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subscribe{
    color: var(--WHITE, #FFF);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
        margin-bottom: 16px;
}

.footer-input{
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
}


.footer-input::placeholder {
    color: #ffffff;
}

.sub-butn {
    width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
}

.butn-icon-footer{
    margin-left: 16px;
}

/* -------------phone----------------- */
@media screen and (min-width:318px){
    .ul-list{
        display: none;
    }

    .contact-info{
        display: none;
    }
    
}
/* -------------/phone----------------- */



/* -------------tablet----------------- */
@media screen and (min-width: 768px) {
.container{
    max-width: 738px;
}
/* ---------------header--------------- */

.button-burger{
    display: none;
}

.ul-list{
    align-items: center;
    display: flex;
        gap: 40px;
        padding-left: 0px;
}

.contact-info {
    display: flex;
}

.nav-menu{
    display: flex;
    }

.logo{
    margin-right: 76px;
}

.studio-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}

.curent {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.curent::after {
    background-color: #404bbf;
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    border-radius: 2px;
    transition: height 0.3 linear;
    bottom: -1px;
}

.contacts {
    color: var(--SLATE, #434455);
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head-flex{
       display: flex;
       justify-content: space-between;
    }
/* -------------header------------------ */

/* -------------firstsection-------------- */
.firstsection {
    padding-top: 112px;
    padding-bottom: 112px; 
    background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/BGtablet.jpg);
}


.effective{
    width: 496px;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 0.02em;
    margin-bottom: 36px;
}
/* -------------/firstsection-------------- */

/* --------------info----------------------- */
.section-two{
    padding-bottom: 153px;
}

.flex-info{
    display: flex;
    flex-direction: row;
    column-gap: 24px;
        row-gap: 72px;
        flex-wrap: wrap;
}
.info-items{
    width: calc((100% - 24px) / 2);
    height: 120px;
}

.head{
    text-align: left;
}
/* --------------/info---------------------- */

/* ---------------our team------------------ */
.flex-team{
    flex-direction: row;
    flex-wrap: wrap;
    }

/* ---------------/our team------------------ */

/* -----------------our portfolio-------------- */

.portfolio-list{
    width: calc((100% - 24px) / 2);
}

.flex-portfolio{
    display: flex;
        flex-direction: row;
        column-gap: 24px;
        row-gap: 72px;
        flex-wrap: wrap;
}

.photo-for-overlay{
    width: 356px;
    height: 300px;
}

.portfolio-list{
    width: 356px;
}

.fourth-section {
    padding-top: 39px;
    padding-bottom: 96px;
}


}
@media screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2ddx),
screen and (min-resolution: 2) {
    .firstsection {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/BGtablet@2x.jpg);
    }
}







/* -------------/tablet----------------- */


/* -------------desktop----------------- */
@media screen and (min-width:1158px)  {
    .container{
        max-width: 1158px;
    }
.contact-list {
    display: flex;
    gap: 40px;
}
.contacts:hover,
.contacts:focus {
    color: #404bbf;
}

.contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list {
    display: flex;
    gap: 40px;
}
.contact-info {
    font-style: normal;
}

/* -------------firstsect----------------- */
.firstsection {
    background-image: linear-gradient(rgba(46, 47, 66, 0.70),
            rgba(46, 47, 66, 0.70)),
        url(../images/BG.jpg);
}

.main-title {
    margin-bottom: 48px;
    margin: 0 auto;
}

.effective {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 48px;
}

.firstbutton:hover,
.firstbutton:focus {
    background-color: #404BBF;
}
/* -------------/firstsect----------------- */
/* ---------------info--------------------- */
.section-two {
    padding: 120px 0;
}

.flex-info {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.info-items {
    flex-direction: column;
    gap: 8px;
    width: calc((100% - 72px) / 4);
}

.flex-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background: var(--CLOUD, #F4F4FD);
    margin-bottom: 8px;
}

.head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.about {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.flex-team {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.portfolio-list{
    display: flex;
        flex-direction: column;
        width: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-portfolio {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}

.fourth-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.flex-portfolio {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.photo-overlay {
    position: relative;
    overflow: hidden;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms linear;
}

.portfolio-list:hover .p-overlay {
    transform: translateY(0%);
}


.p-overlay {
    position: absolute;
    display: block;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-photo {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}



}




/* -------------/desktop----------------- */
@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
screen and (min-resolution: 2ddx),
screen and (min-resolution: 2) {
    .firstsection {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/BG@2x.jpg);
    }
}